@inherits Panel
@using Sandbox;
@using System;
@using Sandbox.UI;

<root>
	<div class="medal-time">
		<div class="medal-circle space"></div>
		<div class="medal">Medal</div>
		<div class="time">Time</div>
	</div>
	<div class="medal-time">
		<div class="medal-circle bronze"></div>
		<div class="medal">Bronze</div>
		<div class="time">@BronzeTime</div>
	</div>
	<div class="medal-time">
		<div class="medal-circle silver"></div>
		<div class="medal">Silver</div>
		<div class="time">@SilverTime</div>
	</div>
	<div class="medal-time">
		<div class="medal-circle gold"></div>
		<div class="medal">Gold</div>
		<div class="time">@GoldTime</div>
	</div>
	<div class="medal-time">
		<div class="medal-circle platinum"></div>
		<div class="medal">Platinum</div>
		<div class="time">@PlatinumTime</div>
	</div>
	<div class="medal-time">
		<div class="medal-circle pb"></div>
		<div class="medal">Personal Best</div>
		<div class="time">@PersonalBestTime</div>
	</div>
</root>

@code {
	string BronzeTime;
	string SilverTime;
	string GoldTime;
	string PlatinumTime;
	
	string PersonalBestTime;

	MapSettings settings;

	public override void Tick()
	{
		if(settings == null)
		{
			settings = Scene.GetAllComponents<MapSettings>().FirstOrDefault();
		}
		else
		{
			return;
		}

		var bronzeTime = TimeSpan.FromSeconds(settings.BronzeTime);
		var silverTime = TimeSpan.FromSeconds(settings.SilverTime);
		var goldTime = TimeSpan.FromSeconds(settings.GoldTime);
		var platinumTime = TimeSpan.FromSeconds(settings.PlatinumTime);

		BronzeTime = bronzeTime.ToString(@"mm\:ss");
		SilverTime = silverTime.ToString(@"mm\:ss");
		GoldTime = goldTime.ToString(@"mm\:ss");
		PlatinumTime = platinumTime.ToString(@"mm\:ss");

		var personalBestTime = TimeSpan.FromSeconds(settings.GetBestTime());

		PersonalBestTime = personalBestTime.ToString(@"mm\:ss");
    }

	
	protected override int BuildHash() => System.HashCode.Combine(BronzeTime, SilverTime, GoldTime, PlatinumTime, PersonalBestTime, settings?.GetBestTime());
}
