@inherits Panel;

<style>
    .map-details {
        flex-direction: column;
        width: 100%;
    }

    .box-header-image {
        background-image: url(@($"{ThumbnailUrl}"));
    }
</style>

<div class="map-details">
    <label class="section-title title">Map Details</label>
    <div class="box">
        <div class="box-header-image"></div>
        <div class="list">
            <div class="row">
                <label class="title">Name</label>
                <label class="subtitle">@Global.MapName</label>
            </div>
            <div class="row">
                <label class="title">Falls</label>
                <label class="subtitle">@MapStats.Local.Falls</label>
            </div>
            <div class="row">
                <label class="title">Respawns</label>
                <label class="subtitle">@MapStats.Local.Respawns</label>
            </div>
            <div class="row best-time">
                <label class="title">Best Time</label>
                <label class="subtitle">@MapStats.Local.BestTime.FormattedTimeMs()</label>
            </div>
            <div class="row">
                <label class="title">Attempts</label>
                <label class="subtitle">@MapStats.Local.Attempts</label>
            </div>
            <div class="row">
                <label class="title">Total Time Played</label>
                <label class="subtitle">@MapStats.Local.TimePlayed.FormattedTimeMs()</label>
            </div>
            <div class="row">
                <label class="title">Total Completions</label>
                <label class="subtitle">@MapStats.Local.Completions</label>
            </div>
        </div>
    </div>
</div>

@code {
    private string ThumbnailUrl;

    protected override async Task OnParametersSetAsync()
    {
        var pgk = await Package.Fetch(Global.MapName, true);
        if (pgk == null) return;
        ThumbnailUrl = pgk.Thumb;
        StateHasChanged();
    }
}
