@inherits Panel
@page "/w";

<root>
	<div class="sidebar">
		<div class="navbar">
			<a class="button" href="/home">Return</a>
		</div>
	</div>

	<div class="achievements-container">
		<div class="title">Achievements</div>
		@if (AchievementManager.Achievements != null)
		{
			@foreach (var achievement in AchievementManager.Achievements)
			{
				<div class="achievement">
					<div class="achievement-icon" style="background-image: url('@achievement.AchievementIcon');"></div>
					<div class="achievement-info">
						<div class="achievement-name">@achievement.AchievementName</div>
						<div class="achievement-description">@achievement.AchievementDescription</div>
						<div class="achievement-progress">
							@achievement.CurrentValue / @achievement.NeededValue
						</div>
					</div>
				</div>
			}
		}
		else
		{
			<div>Loading achievements...</div>
		}
	</div>
</root>


@code {
	AchievementManager AchievementManager;

	protected override void OnAfterTreeRender(bool firstTime)
	{
		base.OnAfterTreeRender(firstTime);

		if (!firstTime) return;
		
		AchievementManager = AchievementManager.Instance ?? new AchievementManager();
	}
	protected override int BuildHash() => System.HashCode.Combine(AchievementManager);
}
